@model CapaEntidad.Cliente
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrar</title>
    <link href="~/Content/style_register.css" rel="stylesheet" />
</head>
<body>


    <div id="container_main">

        <div id="container_login">
            <form action="@Url.Action("Registrar","Acceso")" method="post">

                <h1>Registro</h1>
                <div id="container_grid">
                    <div class="container_user_name">
                        
                        @Html.TextBoxFor(m => m.Nombres, new { @class = "form-control", @id = "txtnombre", placeholder = "Nombres", value = ViewData["Nombres"] })


                    </div>

                    <div class="container_user_last">

                        @Html.TextBoxFor(m => m.Apellidos, new { @class = "form-control", @id = "txtapellidos", placeholder = "Apellidos", value = ViewData["Apellidos"] })
                        

                    </div>

                    <div class="container_user_email">

                        @Html.TextBoxFor(m => m.Correo, new { @class = "form-control", @id = "txtcorreo", placeholder = "Correo Electrónico", value = ViewData["Correo"] })
                        

                    </div>

                    <div class="container_user_pass">

                        @Html.TextBoxFor(m => m.Clave, new { @class = "form-control", @id = "txtclave", placeholder = "Clave" })
                       

                    </div>

                    <div class="container_user_confirmpass">

                        @Html.TextBoxFor(m => m.ConfirmarClave, new { @class = "form-control", @id = "txtconfirmarclave", placeholder = "Confirmar Clave" })
                       

                    </div>

                    <div class="container_btn">
                        <button type="submit" id="btn">Crear Cuenta</button>
                    </div>

                    <div class="container_a">
                        <a href="@Url.Action("Index","Acceso")">¿Ya tienes una cuenta? Iniciar Sesión</a>
                    </div>



                    @{
                        if (ViewBag.Error != null)
                        {
                            <div class="form-floating mb-3">
                                <div id="mensajeError" class="alert alert-danger" role="alert">
                                    @ViewBag.Error
                                </div>
                            </div>
                        }
                    }

                </div>

            </form>


        </div>

    </div>

    <script src="~/Scripts/bootstrap.bundle.js"></script>
</body>
</html>

