
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Items")

<section class="py-5">
    <div class="container-fluid px-5 my-5">

        <div class="row">
            <div class="col-sm-3">
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card card_filter" style="height: 250px !important;">
                            <div class="card-header bg-dark text-white">
                                Categorias
                            </div>
                            <div id="contenedor_categoria" class="card-body">
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card card_filter" style="height: 250px !important;">
                            <div class="card-header bg-dark text-white">
                                Marcas
                            </div>
                            <div id="contenedor_marca" class="card-body">
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="d-grid gap-2">
                            <button id="btnaplicarfiltro" class="btn btn-outline-dark btn-block" type="button" style="color:rgb(255, 255, 255)">
                                <i class="fas fa-filter"></i>Aplicar Filtros
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-9">
                <div id="contenedor_producto" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    @*<div class="col mb-5">
                            <div class="card card_item">
                                <div class="card-img bg-light">
                                    <img src="assets/play5.jpg" alt="">
                                </div>
                                <div class="card-info">
                                    <p class="text-title">Play 5</p>
                                    <p>Product description and details</p>
                                </div>
                                <div class="card-footer">
                                    <span class="text-title">$499.49</span>
                                    <div class="card-button">
                                        <a href="carrito.html">
                                            <svg class="svg-icon" viewBox="0 0 20 20">
                                                <path d="M17.72,5.011H8.026c-0.271,0-0.49,0.219-0.49,0.489c0,0.271,0.219,0.489,0.49,0.489h8.962l-1.979,4.773H6.763L4.935,5.343C4.926,5.316,4.897,5.309,4.884,5.286c-0.011-0.024,0-0.051-0.017-0.074C4.833,5.166,4.025,4.081,2.33,3.908C2.068,3.883,1.822,4.075,1.795,4.344C1.767,4.612,1.962,4.853,2.231,4.88c1.143,0.118,1.703,0.738,1.808,0.866l1.91,5.661c0.066,0.199,0.252,0.333,0.463,0.333h8.924c0.116,0,0.22-0.053,0.308-0.128c0.027-0.023,0.042-0.048,0.063-0.076c0.026-0.034,0.063-0.058,0.08-0.099l2.384-5.75c0.062-0.151,0.046-0.323-0.045-0.458C18.036,5.092,17.883,5.011,17.72,5.011z"></path>
                                                <path d="M8.251,12.386c-1.023,0-1.856,0.834-1.856,1.856s0.833,1.853,1.856,1.853c1.021,0,1.853-0.83,1.853-1.853S9.273,12.386,8.251,12.386z M8.251,15.116c-0.484,0-0.877-0.393-0.877-0.874c0-0.484,0.394-0.878,0.877-0.878c0.482,0,0.875,0.394,0.875,0.878C9.126,14.724,8.733,15.116,8.251,15.116z"></path>
                                                <path d="M13.972,12.386c-1.022,0-1.855,0.834-1.855,1.856s0.833,1.853,1.855,1.853s1.854-0.83,1.854-1.853S14.994,12.386,13.972,12.386z M13.972,15.116c-0.484,0-0.878-0.393-0.878-0.874c0-0.484,0.394-0.878,0.878-0.878c0.482,0,0.875,0.394,0.875,0.878C14.847,14.724,14.454,15.116,13.972,15.116z"></path>
                                            </svg>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="card card_item">
                                <div class="card-img bg-light">
                                    <img src="assets/switch.jpg" alt="">
                                </div>
                                <div class="card-info">
                                    <p class="text-title">Switch</p>
                                    <p>Product description and details</p>
                                </div>
                                <div class="card-footer">
                                    <span class="text-title">$499.49</span>
                                    <div class="card-button">
                                        <a href="carrito.html">
                                            <svg class="svg-icon" viewBox="0 0 20 20">
                                                <path d="M17.72,5.011H8.026c-0.271,0-0.49,0.219-0.49,0.489c0,0.271,0.219,0.489,0.49,0.489h8.962l-1.979,4.773H6.763L4.935,5.343C4.926,5.316,4.897,5.309,4.884,5.286c-0.011-0.024,0-0.051-0.017-0.074C4.833,5.166,4.025,4.081,2.33,3.908C2.068,3.883,1.822,4.075,1.795,4.344C1.767,4.612,1.962,4.853,2.231,4.88c1.143,0.118,1.703,0.738,1.808,0.866l1.91,5.661c0.066,0.199,0.252,0.333,0.463,0.333h8.924c0.116,0,0.22-0.053,0.308-0.128c0.027-0.023,0.042-0.048,0.063-0.076c0.026-0.034,0.063-0.058,0.08-0.099l2.384-5.75c0.062-0.151,0.046-0.323-0.045-0.458C18.036,5.092,17.883,5.011,17.72,5.011z"></path>
                                                <path d="M8.251,12.386c-1.023,0-1.856,0.834-1.856,1.856s0.833,1.853,1.856,1.853c1.021,0,1.853-0.83,1.853-1.853S9.273,12.386,8.251,12.386z M8.251,15.116c-0.484,0-0.877-0.393-0.877-0.874c0-0.484,0.394-0.878,0.877-0.878c0.482,0,0.875,0.394,0.875,0.878C9.126,14.724,8.733,15.116,8.251,15.116z"></path>
                                                <path d="M13.972,12.386c-1.022,0-1.855,0.834-1.855,1.856s0.833,1.853,1.855,1.853s1.854-0.83,1.854-1.853S14.994,12.386,13.972,12.386z M13.972,15.116c-0.484,0-0.878-0.393-0.878-0.874c0-0.484,0.394-0.878,0.878-0.878c0.482,0,0.875,0.394,0.875,0.878C14.847,14.724,14.454,15.116,13.972,15.116z"></path>
                                            </svg>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>*@



                </div>
            </div>
        </div>


    </div>
</section>

@section scripts {

    <script>

        $(document).ready(function () {
            MostrarCategorias();
            MostrarProductos(0, 0)
        })

        function MostrarCategorias() {

            jQuery.ajax({
                url: "@Url.Action("ListarCategorias", "Tienda")",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    //<div class="form-check">
                    //    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                    //    <label class="form-check-label" for="flexRadioDefault1"></label>
                    //</div>

                    $("#contenedor_categoria").LoadingOverlay("hide");

                    $("<div>").addClass("form-check").append(
                        $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "categoria", "value": "0", "id": "cx", "checked": "checked" }),
                        $("<label>").addClass("fom-check-label").text("Todos").attr({"for":"cx"})
                    ).appendTo("#contenedor_categoria")

                    $.each(response.data, function (i, element) {
                        $("<div>").addClass("form-check").append(
                            $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "categoria", "value": element.IdCategoria, "id": "c" + i, "checked": "checked" }),
                            $("<label>").addClass("fom-check-label").text(element.Description).attr({ "for": "c" + i })
                        ).appendTo("#contenedor_categoria")
                    })

                    MostrarMarca()
                },
                beforeSend: function () {
                    $("#contenedor_categoria").LoadingOverlay("show");
                }
            })

        }

        function MostrarMarca() {

            var _idcategoria = $("input[name=categoria]:checked").val()

            jQuery.ajax({
                url: "@Url.Action("ListarMarcaporCategoria", "Tienda")",
                type: "POST",
                data: JSON.stringify({ idcategoria: _idcategoria }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    //<div class="form-check">
                    //    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                    //    <label class="form-check-label" for="flexRadioDefault1"></label>
                    //</div>
                    $("#contenedor_marca").html("");
                    $("#contenedor_marca").LoadingOverlay("hide");

                    $("<div>").addClass("form-check").append(
                        $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "marca", "value": "0", "id": "mx", "checked": "checked" }),
                        $("<label>").addClass("fom-check-label").text("Todos").attr({"for":"mx"})
                    ).appendTo("#contenedor_marca")

                    $.each(response.data, function (i, element) {
                        $("<div>").addClass("form-check").append(
                            $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "marca", "value": element.IdMarca, "id": "m" + i, "checked": "checked" }),
                            $("<label>").addClass("fom-check-label").text(element.Descripcion).attr({ "for": "m" + i })
                        ).appendTo("#contenedor_marca")
                    })
                },
                beforeSend: function () {
                    $("#contenedor_marca").LoadingOverlay("show");
                }
            })

        }

        $(document).on("change", "input[name=categoria]", function () {
            MostrarMarca()
        })

        function MostrarProductos(_idcategoria, _idmarca) {


            jQuery.ajax({
                url: "@Url.Action("ListarProductos", "Tienda")",
                type: "POST",
                data: JSON.stringify({ idcategoria: _idcategoria, idmarca: _idmarca }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {

                    $("#contenedor_producto").html("");
                    $("#contenedor_producto").LoadingOverlay("hide");



                    $.each(response.data, function (i, element) {

                        $("<div>").addClass("col mb-5").append(
                            $("<div>").addClass("card card_item").append(
                                $("<div>").addClass("card-img bg-light").append(
                                    $("<img>").attr({ "src": "data:image/" + element.Extension + ";base64," + element.Base64 })
                                ),
                                $("<div>").addClass("card-info").append(
                                    $("<p>").addClass("text-title").text(element.Nombre),
                                    $("<p>").addClass("text-desc").text(element.Descripcion),
                                    $("<span>").addClass("text-title").text("$" + element.Precio.toFixed(2) + "USD")
                                ),
                                $("<div>").addClass("card-footer mt-auto").append(

                                    $("<div>").addClass("d-grid gap-2").append(

                                        @if (Session["Cliente"] != null)
                                        {
                                            @*@:$("<a>").addClass("agregarcarrito").data("idproducto", element.IdProducto).attr({ "href": "@Url.Action("Carrito","Tienda")", "style": "color: black; width: 20px; height: 20px;" }).append(),*@
                                            @:$("<button>").addClass("btn btn-outline-dark mt-auto agregarcarrito").data("idproducto", element.IdProducto).append($("<i>").addClass("fas fa-shopping-cart me-1")),

                                        }
                                        $("<a>").addClass("btn btn-dark mt-auto")
                                                .attr({ "href": "@Url.Action("DetalleProducto","Tienda")" + "?idproducto=" + element.IdProducto })
                                                .text("Ver detalle")
                                    )

                                )

                            )
                        ).appendTo("#contenedor_producto")


                    })
                },
                beforeSend: function () {
                    $("#contenedor_producto").LoadingOverlay("show");
                }
            })

        }

        $("#btnaplicarfiltro").click(function () {
            var _idcategoria = $("input[name=categoria]:checked").val()
            var _idmarca = $("input[name=marca]:checked").val()
            MostrarProductos(_idcategoria, _idmarca)
        })

        $(document).on("click", "button.agregarcarrito", function () {


            jQuery.ajax({
                url: '@Url.Action("AgregarCarrito", "Tienda")',
                type: "POST",
                data: JSON.stringify({ idproducto: $(this).data("idproducto") }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.respuesta) {
                        MotrarCantidadCarrito();

                        swal({
                            title: "Agregado al carrito",
                            text: "¿Desea ir al carrito?",
                            type: "success",
                            showCancelButton: true,
                            confirmButtonClass: "btn-primary",
                            confirmButtonText: "Si",
                            cancelButtonText: "No",
                            closeOnConfirm: true
                        }, function () {
                            window.location.href = '@Url.Action("Carrito", "Tienda")'
                        })
                    } else {
                        swal("", data.mensaje, "warning");
                    }
                }

                });
        })

    </script>
    <script src="~/Scripts/jquery-loading-overlay/loadingoverlay.min.js"></script>

}