<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ShopEase</title>
    @Styles.Render("~/Content/css")
</head>
<body class="loading">


    <header>
        <div class="inner">
            <div class="burger"></div>
            <nav>
                <a class="active nav_a_main" href="@Url.Action("Inicio","Tienda")">Inicio</a>
                <a class="nav_a_main" href="@Url.Action("Index","Tienda")">Productos</a>
                <div class="right_part">
                    @if (Session["Cliente"] == null)
                    {
                        <a class="btn btn-outline-dark" aria-current="page" href="@Url.Action("Index","Acceso")"><i class="fas fa-sign-out-alt me-1"></i>Iniciar Sesión</a>
                    }
                    else
                    {
                        <a class="btn btn-outline-dark" href="@Url.Action("Carrito","Tienda")">
                            <i class="fas fa-shopping-cart me-1"></i>
                            Cart
                            <span class="badge bg-light ms-1 rounded-pill" id="cantidadcarrito">0</span>
                        </a>

                        <ul class="navbar-nav ms-auto ms-auto me-0 me-md-3 my-2 my-md-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw" style="font-size: 15px;"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#!"><b>@User.Identity.Name</b></a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("MisCompras","Tienda")"><b>Mis compras</b></a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" href="@Url.Action("CerrarSesion","Acceso")">Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                    }

                </div>
            </nav>
        </div>
    </header>
    @RenderBody()

    @*<footer>
        <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
    </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script>

        $(document).ready(function () {
            MotrarCantidadCarrito()
        })

        function MotrarCantidadCarrito() {
            if ($("#cantidadcarrito").length > 0) {
                jQuery.ajax({
                    url: '@Url.Action("CantidadEnCarrito", "Tienda")',
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $("#cantidadcarrito").text(data.cantidad)
                    }

                });
            }
        }

    </script>
</body>
</html>
